<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./resources/templates/principal.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="content">
        <h:form>
            <p:growl id="msgs" showDetail="true" />

            <h3 style="margin-top:0">Instituições</h3>
            <p:tabView activeIndex="#{instituicaoBean.idTab}">
                <p:tab title="Lista" id="lista">
                    <h:panelGrid columns="2" cellpadding="10">
                        <p:graphicImage name="demo/images/godfather/godfather2.jpg" />
                        <h:outputText value="Francis Ford Coppola's legendary..." />
                    </h:panelGrid>
                </p:tab>
                <p:tab title="Manutenção" id="cadastro">
                    <!-- id -->                        
                    <h:inputHidden value="#{instituicaoBean.instituicao.id}" id="id"/>
                    <h:panelGrid columns="3" cellpadding="10">
                        <p:outputLabel for="nome" id="lblNome" value="Nome:"/>
                        <p:inputText id="nome"
                                     value="#{instituicaoBean.instituicao.nome}"/>
                        <p:message for="nome"/>
                        <p:outputLabel for="endereco" id="lblEndereco" value="Endereco:"/>
                        <p:inputText id="endereco" 
                                     value="#{instituicaoBean.instituicao.endereco}"/>
                        <p:message for="endereco"/>
                        
                    </h:panelGrid>
                </p:tab>
            </p:tabView>        

        </h:form>
    </ui:define>

</ui:composition>

